.btn-group button {
    background-color: white; /* Green background */
    border: 1px solid green; /* Green border */
    color: #4CAF50; /* White text */
    padding: 10px 10px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

Clear floats (clearfix hack) 
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
	color: black;
}

.button_toggle {
	background-color: white; /* Green */
	border: none;
	color: #3e8e41;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	transition-duration: 0.4s;
	border: 2px solid #3e8e41 ;
	border-radius: 6px;
	margin-top: 15px;
}

.button_toggle:hover {
  background-color: #3e8e41; /* Green */
  color: black;
}